.countriesNameList {
    margin-top: 100px;
    &__wrapper {
        display: grid;
        grid-template-areas: 
        'A A A A  B B B B  C C C C'
        'A A A A  B B B B  C C C C'
        'A A A A  D D D D  D D D D';
        gap: 4rem;
    }
    &__info {
        grid-area: B;
        font-size: 14px;
    }
    &__infoTwo {
        grid-area: C;
        align-self: center;
    }
    &__borders {
        grid-area: D;
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        span {
            padding: 0 1rem;
            background-color: var(--colors-ui-base);
            box-shadow: var(--shadow);
            cursor: pointer;
        }
    }
    &__flag {
        grid-area: A;
        width: 400px;
        box-shadow: var(--shadow);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 15px;
    }
}

@media (max-width: 991.98px) {
    .countriesNameList {
        &__wrapper {
            grid-template-areas: 
            'A A A A  B B B B'
            'A A A A  B B B B'
            'A A A A  C C C C'
            'D D D D  D D D D';
        
        }
    }
}

@media (max-width: 767.98px){
    .countriesNameList {
        &__wrapper {
            grid-template-areas: 
            'A A A A'
            'B B B B'
            'C C C C'
            'D D D D';
            gap: 2rem;
        }
        &__flag {
            width: 350px;
        }
    }
}

@media (max-width: 575.98px){
    .countriesNameList {
        &__flag {
            width: 290px;
            img {
                object-fit: contain;
            }
        }
    }
}